@page "/fetchdata"
@using DatingAppOrleans.Shared
@inject HttpClient Http

<h1>Get Users from the Database</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var item in forecasts)
	{
		 <p>@item</p>
	}
   
}

@functions {

    List<string> forecasts;

    protected override async Task OnInitAsync()
    {
        forecasts = await Http.GetJsonAsync<List<string>>("api/SampleData/GetUsers");
    }
}
